<a id="add_to_cart_button" href="/seasons/new" class="btn btn-danger product-buy">
    New Collection 
</a>

    <% @seasons.each_with_index do |season| %>
        <a href="/seasons/<%=season.id %>" >
            <%= season.name %>
        </a>

    <% end %>