<%= stylesheet_link_tag 'lookbook', media: 'all', 'data-turbolinks-track': 'reload' %>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<%=  render "nav" %>

<div class="content"> 

    <section class="lookbook-container">

    <div>
    <div class="season-container">
            <div class="season-menu"> 
                <span class="menu-toggle"> Season 1 <i class="fas fa-angle-down"></i></span>
                <div class="season-list"> 
                    <span> Winter </span>
                    <span> Summer </span>
                    <span> Spring </span>
                    <span> Fall </span>
                </div>
            </div>

            <div class="season-menu"> 
                <span class="menu-toggle"> Season 1 </span>
                <div class="season-list"> 
                    <span> Winter </span>
                    <span> Summer </span>
                    <span> Spring </span>
                    <span> Fall </span>
                </div>
            </div>
        </div >
        <div class="image-container">
            <span class="collection-image"> </span>
            <span class="collection-image"> </span>
            <span class="collection-image"> </span>
            <span class="collection-image"> </span>
        
         </div>
    </section>

</div>

<%=  render "footer" %>

<script>
	$(".menu-toggle").click(function(e){
    e.preventDefault();
    $(this).next().css('display', 'flex');


});
</script>
