<%= form_with(url: "/save-collection/", model: Collection,  method: :post,  local: true) do |form| %> 
	<input type="hidden" name="season_id" id="season_id" value="<%= @season.id %>">

	<%=form.label :name %> 
	<%= form.text_field :name%> 

    <%= form.file_field :image, multiple: true, direct_upload: true %>

	<input type="submit" />
<% end %> 