<%= form_with(url: "/save-collection-item/", model: CollectionItem,  method: :post,  local: true) do |form| %> 
	<input type="hidden" name="season_id" id="season_id" value="<%= @season.id %>">
    <%= form.hidden_field :collection_id, value: @collection.id %>
    <%= form.file_field :photo, multiple: false, direct_upload: true %>
	<input type="submit" />
<% end %> 