<%= @season.name %>

<a id="add_to_cart_button" href=<%="/seasons/"+@season.id.to_s+"/new-collection" %> class="btn btn-danger product-buy">
    New Collection 
</a>




    <% @collections.each_with_index do |collection| %>
            <a href="<%="/seasons/"+@season.id.to_s+"/collections/"+collection.id.to_s  %>" >
                <%= collection.name %>
            </a>

    <% end %>