<style> 
    .collection-item{
        width:150px; 
        height:200px
    }

</style>

<a id="add_to_cart_button" href=<%="/seasons/"+@season.id.to_s+"/collections/"+@collection.id.to_s+"/new-collection-item" %> class="btn btn-danger product-buy">
    New Photo 
</a>


<div class="itme-container">
    <% @collection.collection_items.each do |item| %>
        <%= image_tag item.photo, class: "collection-item" %>
    <% end %>
</div>




<%
=begin%>
 <%= debug @collection.collection_items.first.image %> 
<%
=end%>
