

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <%= stylesheet_link_tag "purchase", media: "all" %>

  </head>
  <body>

    <table class="email-container">
      <tr> <td class="thanks-ugli"> A new order has been made !</td> </tr>

      <tr> <td>Customer Name: <%= @customer_name %> </td> </tr>
      <tr> <td>Date Purchased: <%= @order_date %> </td> </tr>
      <tr> <td>Order Total: $<%= @order_total %> </td> </tr>




    </table>

  </body>
</html>
