

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <%= stylesheet_link_tag "purchase", media: "all" %>

  </head>
  <body>

    <table class="email-container">
      <tr>
          <img class="logo"
          src="https://lh3.google.com/u/0/d/1d8OO_pgB1_FpMbAab3AgDv_fNHvbIzqD=w2560-h548-iv1">
      </tr>

      <tr> <td class="thanks-ugli"> Thanks for shopping with us <%= @name %>  - Tomi </td> </tr>
      <tr> <td class="email-header">Address</td> </tr>
      <tr> <td class="divider"></td> </tr>

      <tr> <td><%= @name %> </td> </tr>
      <tr> <td><%= @full_address %>  </td> </tr>

      <tr> <td class="order-number">Order number: <%= @order_num %> </td> </tr>

      <tr> <td class="email-header items-header">Items description</td> </tr>
      <tr> <td class="divider"></td> </tr>

      <% @products.each do |product_dic| %>
        <tr>
          <td>
           <span>
              <%= product_dic[:product].name %> (<%= product_dic[:size] %>)
            </span>
            <span class="item-price">
              $<%= number_with_precision(product_dic[:product].price, :precision => 2) %>
            </span>
          </td>
        </tr>

      <% end %>






      <tr> <td class="semi-divider"></td> </tr>



      <tr> <td> <span> Shipping </span> <span class="item-price">$<%= number_with_precision(@shipping, :precision => 2) %> </span></td>  </tr>
      
      <tr> <td> <span> Tax </span> <span class="item-price">$<%= number_with_precision(@tax_cost, :precision => 2) %> </span></td>  </tr>

      <tr> <td> <span> Subtotal </span> <span class="item-price"> $<%= number_with_precision(@total, :precision => 2) %>  </span></td>  </tr>

      <tr> <td >
        <span class="item-title"> Total </span>
        <span class="item-price"> $<%= number_with_precision(@total.to_f + @shipping + @tax_cost , :precision => 2)%>
       </span>
      </td> </tr>

      <tr> <td class="divider"></td> </tr>

      <tr> <td ><span class="item-title"> Payment </span> <span class="item-price">
       <%= @card %>
     </span></td>  </tr>


    </table>

  </body>
</html>
