

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <%= stylesheet_link_tag "purchase", media: "all" %>

  </head>
  <body>
    <table class="email-container">
      <tr>
        <img class="logo"
        src="https://lh3.google.com/u/0/d/1d8OO_pgB1_FpMbAab3AgDv_fNHvbIzqD=w2560-h548-iv1">
      </tr>

      <tr> <td class="thanks-ugli"> Your order has Shipped ! </td> </tr>
      <tr> <td class="email-header">Address</td> </tr>
      <tr> <td class="divider"></td> </tr>

      <tr> <td><%= @name %> </td> </tr>
      <tr> <td><%= @full_address %>  </td> </tr>

      <tr> <td class="order-number">Order number: <%= @order.order_num %> </td> </tr>
      <tr> <td class="order-number">Tracking Number: <%= @order.tracking_number %> </td> </tr>
      <tr> <td class="order-number">Shipping Method: <%= @order.shipping_method %> </td> </tr>

      <tr> <td class="email-header items-header">Items description</td> </tr>
      <tr> <td class="divider"></td> </tr>
      <% @products.each do |product_dic| %>
        <tr>
          <td>
           <span>
              <%= product_dic[:product].name %> (<%= product_dic[:size] %>)
            </span>

          </td>
        </tr>

      <% end %>


    </table>

  </body>
</html>
