/* TODO: fix the line issue with the delted cart items  */

.cart-sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;

    background-color: #F8F8F8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    padding-bottom:60px;
}

 .close-cart-btn {
    position: absolute;
    top: 10px;
    font-size: 310px;
    right: 2px;
    margin-left: 50px;
    font-size: 45px !important;
    font-family: 'Lato', sans-serif;
    color: #000000;
}

.close-cart-btn:hover{
    text-decoration: none;
    color:lightgrey;

}

.cart-checkout-button{

    width:80% !important;
    margin-left:12.5%;
    margin-top:20px;
}


#cart-empty-text{

  font-size:17px;
  left:10px;
  top:105px;
  position: absolute;
  display: none;

}

.cart-item-holder{
  width:100%;
  display:flex;
  flex-direction: row;
  margin-top:30px;
  height:120px;
}
.cart-item-info{
  display: flex;
  flex-direction: column;
  font-size:15px;
  margin-top: 10px;
  margin-left:10px;
  width:172px; 
}
.cart-item-name-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 26px;
}
.cart-item-name{
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  font-size:20px; 
}

.cart-item-price{
  align-self:flex-end; 
  font-size:20px; 
  font-family: 'Lato', sans-serif;
  font-weight: 400;

}

.cart-item-image{
  height:130;
  width:90px;
  margin-left:10px;
}


.shopping-cart-title{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size:25px;
  color:black;
  position: absolute;
  top: 25px;
  left:10px;
  text-transform: uppercase;
}



.line{
  border:1px solid black; 
  width:280px; 
  margin-left:10px; 
}

.delete-cart-item{
  font-size:30px;
  margin-left:15px;
  align-self:center
}

.total-holder{
  display: flex;
  flex-direction: row;
  width: 290px;
  justify-content: space-between;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding-left: 10px;
  margin-top: 20px;
}

#checkout-button{
  background-color: black;
  height: 47px;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
}

.cart-info-text{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  margin-left: 10px;
  margin-top:10px; 

}