       .contact-container, .payment-container{
            display: flex; 
            flex-direction: column; 
            justify-content: center;
            padding-left:40px;
            padding-right:40px;
            padding-top:20px; 

        }

        .checkout-head{
            font-size: 28px;
            font-family: 'Lato', sans-serif;
            color: #000000;
            align-self: center;
        }
        
    
        .product-info-head{
            font-size: 40px; 
        }
    
        .product-info-row{
            font-size:20px;
            margin-bottom:30px;
        }         
    
        .form-section-head{
            font-size:20px;
            margin-bottom:10px;
    
    
        }
    
        .error-message{
            color:tomato;
            font-size:14px;
        }
    
        .ship-form{
            width:300px;
            margin-top:15px;
        }
    
    
        .small-form-container{
            display: flex; 
            flex-direction: row; 
            justify-content: space-between;
            margin-top:15px;
        }
        .zip{
            margin-left:10px;
        }
    
        
    
        .pay-button{
            height: 50px;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
    background-color: black;
    color: white;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 146px;
    font-size: 18px;
        }
    
        .line{
            border:solid 1px black;
            margin-top:20px;
            width:100%; 
        }

    
    .field{
        border: 0;
        border-bottom: 4px solid black;
        margin-top:16px; 
        min-width:40%; 
      }
    
      ::placeholder {
        color: black;
        font-size: 18px;
        font-weight: 800; ;
        font-family: 'Lato', sans-serif;
      }

    .total-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size:18px; 
    }

    .total-container-start, .new-section{
        margin-top:30px; 
     
    }

@media (min-width: 720px)  {
    .line{
        margin-bottom:10px; 

    }


    .total-container-start{
        margin-top:75px; 
    }

    .pay-button{
        align-self:flex-end; 
        margin-top:50px; 
    }
    .payment-info-container{
        margin-top:15px;
    }
    .form-section-head{
        margin-bottom: 0; 
        font-size: 25px; 
    }

    .product-info-row{
        margin-bottom:5px;
    }  
    .shipping-info-container{
        display: flex; 
        flex-direction: row; 
        justify-content: space-around;
    }
    
    .payment-container, .contact-container{
        width:600px; 
        justify-content: initial;
    }

    .contact-container{
        padding-top:45px; 
    }
    .small-form-container{
        width:100%;
    }

    .InputElement{
        height:300px !important;
    }

    .field{
        border: 0;
        border-bottom: 4px solid black;
        margin-top:16px; 
        min-width:45%; 
        }

}