.launch-section{
		display:flex;
		flex-direction: column;
		width:100%;
		display: flex;
		padding:0;
		margin:0;
		z-index: 1;
		min-height: 100vh;
		background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("<%=asset_path 'index_background.png' %>");
		background-size: cover;
		background-position: center; 
		display: flex;
		flex-direction: column;
        color:white;
}

.marker{
    font-family: 'Permanent Marker', cursive;
}

.brand-name{
    font-size:42px; 
    font-family: 'Permanent Marker', cursive !important;
    text-decoration: none;
    color:white; 
    margin-left:15px; 
    align-self:center; 
}

.launch-header{
    font-weight:bold; 
    align-self:center; 
    font-size:35px; 
    width:70%; 
    text-align:center; 
    justify-self:center; 
    margin-top:10vh; 
}

.thank-text{
    font-size:24px; 
    text-align:center; 
    margin-top:30px; 
    width:75%; 
    align-self:center; 
}

.important-text{
    font-weight:bold; 
    text-transform:uppercase; 
}

.landing-footer-desktop{
    display:none; 
}   

.landing-footer-icon-conainer-mobile{
    align-self:flex-end; 
    margin-right:20px; 
    margin-top:10px ;
}

.landing-footer-icon-conainer-mobile a, .landing-footer-icon-conainer-mobile img{
    margin-right:10px; 
}

.landing-footer-icon-conainer-mobile a img , .landing-footer-icon-conainer-mobile img{
    height: 30px; 
    width:30px; 
}

@media (min-width: 720px) {

    .landing-footer-icon-conainer-mobile{
        display:none; 
    } 


    .brand-name{
        align-self: flex-start;
        font-size: 50px;
        margin-left: 20px;
    }

    .launch-header{
    width: 31%;
        text-align: left;
        font-size: 52px;
        line-height: 60px;
        align-self: flex-start;
        margin-left: 20%;
    }

    .thank-text{
        text-align: left;
        align-self: flex-start;
        margin-left: 20%;
        font-size: 30px;
        width: 640px;   
    }


	.landing-footer-desktop{
		margin-top:30px; 
		color:white; 
		display:flex; 
		flex-direction:row; 
		justify-content:space-between; 
		padding-left:30px; 
		padding-right:30px; 
        height:50px; 
	}

    .landing-footer-text-container span{
        margin-left: 16px;
        font-size: 20px;
        font-weight: bold;
	}

	.landing-footer-icon-conainer img{
		margin-right:25px; 
	}

    .launch-section{
        margin-bottom:-70px; 
    }



}
