  .login-fields{
    display: flex;
    flex-direction: column;
  }
  .create-container, .login-container{
		display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-container{
		margin-top:50px;
  }
  
  .create-container{
		margin-top:50px;
	}



  .field{
   
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 4px solid black;
    width:80%; 
    margin-top:16px; 
  }

  ::placeholder {
    color: black;
    font-size: 20px;
    font-weight: bold; ;
  }

  .login-button{
    width: 110px;
    height: 50px;
    margin-top: 15px;
    background-color: black;
    font-size: 22px;
    font-weight: bold;
  }

.forgot-link{
  text-decoration: none; 
  color:black; 
  margin-top:5px; 
  font-weight: bold; ;
}

.form-header{
  text-transform: uppercase;
  font-weight: bold; 
  font-size:30px; 
}

 

@media (min-width: 720px) {
  .page-container{
    display:flex; 
    flex-direction: row;
    justify-content: space-between;
    padding-right:30px; 
    padding-left:30px; 
  } 

  .login-container{
    margin-top:50px;
    width:600px; 
  }
  
  .create-container{
    margin-top:50px;
    width:600px; 
  }

  .field{
    height:50px; 
  }

  .login-button{
    margin-top:30px; 
  }
  

}
