
*{
    font-family: 'Lato', sans-serif;
}


.season-container{
    display:flex; 
    flex-direction: row; 
    justify-content: space-around;
}

.menu-toggle{
    cursor: pointer;
    width: 40%;
    font-weight: 800;
    font-size: 20px;
}

.season-list{
    display: flex; 
    flex-direction: column;
    align-self:center; 
}



.season-list{
    display: none;
}

.image-container{
    display:flex; 
    flex-direction: row;
    flex-wrap:wrap; 
    justify-content: space-around;
    margin-top: 40px;
}

.collection-image{
    border:1px solid black; 
    width:147px; 
    height:207px; 
    margin-top:10px; 
}