
  .email-container{
    font-family: Yantramanav, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    width:100%;
    padding-left:5%;
    padding-right:5%;

  }  

  td{
    font-size:12px;
  }

  .logo{
    height:50px;
    width:97px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;

  }

.thanks-ugli{
  font-size:15px;
  font-weight: bolder;
  padding-top:5px;
  text-align: center;

}

.thanks-user{
  padding-bottom:10px;
  padding-top:10px;
  font-size:13px;
  text-align: center;

}

.thanks-ugli,.thanks-user,.logo{

}

.email-header{
  font-weight: bold; 
  font-size:15px;
  padding-top:10px;
}

.order-number{
  padding-top:5px;
}

.items-header{
  padding-bottom:5px;
}

.item-price{
  text-align:right;
  float:right;
}


.item-title{
  font-weight: bold; 
  font-size:12px;
}

.divider{
  width:100%;
  height:.1px;
  border-top:1px solid lightgrey;
  padding-top:5px;
  padding-bottom:5px;

}



.semi-divider{
  width:100%;
  height:.1px;
  border-top: 1px dotted lightgrey;
  padding-top:10px;
  padding-bottom:5px;

}

.tracking-button{
  padding-top:30px;

}

.tracking-button button{
  background-color:skyblue;
  border-radius: 5px;
  color:white;
  height:30px;
  width:100%;
}

