body{
    margin:0;
    padding:0;

}
.nav-holder{
    height: 60px;

    display: flex;
    flex-direction: row;
    background: linear-gradient(rgba(252,236,252,.6) 0%,
                rgba(253,137,215,.6) 80%);
}

.menu-icon{
    font-size:35px;
    color:white;
    margin-left:15px;
    margin-top:10px;
}

.product-info-container{
    margin-top:35px; 
    display:flex; 
    flex-direction: column;
}
.product-info{
    display:flex;
    flex-direction: column;
    padding-top:15px;
}

.product-name, .product-type{
    font-family: 'Lato', sans-serif;
    align-self:center; 

}

.product-type{
    font-weight: 400;
    font-size: 22px;
}

.product-name{
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
}

.product-image{
  width: 277.5px;
    height: 370px;
    align-self: center;
}

.product-options{
    display: flex;
    flex-direction: row;
    margin-top:35px;
    margin-bottom: 30px;
    align-self: center;
}

#product-size{
    width:100px;
    height:40px;
}

.size-button{
    border:black solid 3px; 
}

.product-buy{
    width:160px;
    margin-left:15px;
    color:white;
    background-color:#000000 !important;
    outline: none !important;
    border:none !important;
    display:none; 
}


.btn-link{
    background-color:black; 
    text-decoration: none; 
    color:white;    
    width:200px; 
    margin-top:10px; 
    margin-bottom:30px; 
}

.btn-link:hover{
   background-color: black;
   text-decoration: none;
   color:lightgrey; 
}

.product-buy:hover{
    color:white;
}

.product-buy:focus,.product-buy:active{
    border:none !important;
    outline: none !important;
    color:white;
}

.sold-out-button{
    margin-left:10px; 
}
.details-container{
    align-self:center; 
}
.product-detail-head{
    font-size:23px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.product-detail-head,.product-details{
align-self: center;
}
.product-details{
    width:300px;
    padding-right:10px;
    margin-top:10px ;
    margin-bottom:30px; 
    white-space:pre; 
    align-self: center;

    font-size:15px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.carousel-cell {
    width: 100%;
    display: flex;
    flex-direction: column;
}


/* position dots in gallery */
.flickity-page-dots {
    bottom: -30px;
}

/* white circles */
.flickity-page-dots .dot {
    width: 25px;
    height: 25px;
    opacity: 1;
    background: transparent;
    border: 2px solid #000000;
    margin-left:10px; 
    margin-right: 0px;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
    background: #000000;
}

/* no circle */
.flickity-button {
    background: transparent;
}

.flickity-button:hover {
    background: transparent;
}

/* big previous & next buttons */
.flickity-prev-next-button {
    width: 100px;
    height: 100px;
}

.flickity-prev-next-button.previous {
    left: -0px;
}
.flickity-prev-next-button.next {
    right: -0px;
}

/* icon color */
.flickity-button-icon {
    fill: black;

}
/* hide disabled button */
.flickity-button:disabled {
    display: none;
    background: transparent;
}

@media (min-width: 360px){
    .product-image {
        width: 340px;
        height: 452px;
        align-self: center;
    }

    .carousel{
        width: 340px;
        height: 452px;
        align-self: center;
    }
    
}
@media (min-width: 720px) {
    .product-info{
        flex-direction: row;
    }

    .product-image ,.carousel{
        width: 360px;
          height: 479;
          align-self: center;
    }

    .flickity-page-dots {
        bottom: -30px;
    }

    .product-name{
        font-size:33px; 
        align-self:flex-start; 
    }

    .product-type{
        align-self:flex-start; 
        font-size:22px; 
    }

    .product-options{
        align-self:flex-start; 
    }

}

@media (min-width: 720px) and (max-width: 950px) {
    .details-container{
        width:600px; 
        border:1px solid black; 
        align-self:center; 
        margin-left:100px; 
    }

    .carousel{
        width:50%;
        align-self: center;
    }

    .flickity-prev-next-button.previous {
    left:-20px;
    }

    .flickity-prev-next-button.next {
    right: -20px;
    }

}

@media (min-width: 950px)  {
    .carousel{
        width:50%;
        align-self: center;
    }

    .flickity-prev-next-button.previous {
    left:40px;
    }
    .flickity-prev-next-button.next {
    right: 40px;
    }

}

.member-only-header{
    align-self: center;
    color: brown;
    font-weight: bold;
    font-size: 20px;
}

	