
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;

    background-color: #F8F8F8;
    overflow-x: hidden;
    transition: 0.5s;

}

.marker{
  font-family: 'Permanent Marker', cursive;
}

.brand-name{
  font-size: 35px;
  align-self: center;
  margin-left: 50px;
}

.menu-nav-container{
  margin-top:50px; 
}
.sidenav a {
  padding: 10px 0px 8px 0px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-family: 'Permanent Marker', cursive;
  text-transform: uppercase;
  border-bottom: 2px solid black;
  margin-left:10px; 

}

.sidenav a:hover {
    color: #f1f1f1;
}



.closebtn {
  font-size: 40px;
  margin-left: 8px;
}


#mySidenav a{
  text-decoration: none !important;
  color:#818181;
  font-family: Yantramanav, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:bold;
}

.closebtn:hover, #mySidenav a:hover{
  color:lightgrey;
  cursor: pointer;
}

.animate-right-show{
  position:relative;
  animation:animaterightshow 0.6s;
  right:0;
  display: block;
}

.animate-right-hide{
  position:absolute;
  animation:animaterighthide 0.6s;
  right:-300px;
}

.top-container{
  display: flex; 
  flex-direction: row;
}


@keyframes animaterighthide {
  from{right:0;opacity:1}
  to{right:-300px;opacity:0;  }
}

@keyframes animaterightshow {
  from{right:-300px;opacity:0}
  to{right:0;opacity:1}
  }
