<style> 
html, body {
  height: 100%;
  margin: 0;
}
.content {
  min-height: 100%;
}

footer{

	display:flex;
	flex-direction: column; 
   	background-color: black;
	padding-bottom: 10px; 
	padding-top:10px;


}

.footer-logo-holder{
	color:white;
	font-size:15px;
	flex-grow: 1;
}

.footer-logo{
	font-family: 'Permanent Marker', cursive;

}

.info-links{
	padding-left:10%; 
}

.info-links a {
	color:white; 
	margin-right:5px; 
}

.icon-holder{
	display: flex;
    flex-direction: row;
    margin-top: 5px;
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
}

.footer-link{
	text-decoration: none; 
	color:white;
}

.footer-icon{
	font-size:23px;
	margin-left: 7px; 

}

@media (min-width: 720px) {

	footer{
		flex-direction:row; 
		justify-content:space-between; 
	}

	.info-links{
		min-width:300px; 
	}

	.icon-holder{
		width:auto 
	}
	.footer-logo-holder{
		flex-grow: 0;
		padding-right:50px; 
	}


}


</style>
<footer>

	<div class="info-links">
		<a href="/about"> About </a>
		<a href="/return"> Return Policy </a>

	</div>
	<div class="icon-holder"> 

		<div class="footer-logo-holder"> 
			<span> © </span>
			<span class="footer-logo">Ugli</span>
			<span>2019 </span>
		</div>

		<a target="_blank" class= "footer-link" href="https://www.instagram.com/uglimyclothes/" >
			<i class="fab fa-instagram footer-icon" id="icon-insta"></i>
		</a>
		<a class= "footer-link" href="/contact" > 
			<i class="far fa-envelope footer-icon"></i> 
		</a>

	
	</div>

</footer>