<link href="https://fonts.googleapis.com/css?family=Yantramanav" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;800&display=swap" rel="stylesheet">

<style>

	.mobile-nav-holder{
		height: 60px;
		display: flex;
		flex-direction: row;
		background-color: #413D3D;
		justify-content:space-between; 
	}

	.desktop-nav-holder{
		display:none; 
	}


	.menu-icon{

		font-size:35px;
		color:white;
		margin-left:15px;
		margin-top:10px;
	}



	.logo{
		height:60px;
		width:120px;
		background-image:url("<%=asset_path 'logo1.png' %>");
		background-size:cover;
		background-position: center;
	}
	.icon-container{
		display:flex; 
		flex-direction:row; 
		width:83px
	}
	.shopping-cart{
		font-size:30px;
		color:white;
		margin-top:13px;
		margin-right:15px;
	}

	.nav-icon{
		height:33px; 
		width:33px; 
		align-self:center; 
		margin-right:8px; 
	}

	.nav-icon img{
		height:33px; 
		width:33px; 
		align-self:center; 
		margin-right:8px; 
	}

	#cart-length{
		font-size:15px;
		font-weight: bolder;
		color:black;
		position: absolute;
		bottom:12px;
		left:20px;
		z-index:.2;
		font-family: sans-serif;


	}

	.nav-links{
		display: none;
	}

	@media (min-width: 720px) {

	.mobile-nav-holder{
		display:none; 
	}
	.menu-icon{
		display: none;
	}


	.nav-links{
		display: flex;
		margin-top:10px;
		text-transform: uppercase; 
		margin-right:15px; 
	}
	.nav-links a{
		text-decoration: none;
		color:white;
		font-size:22px;
		margin-left:27px;
		font-family: 'Lato', sans-serif;
		font-weight:800;
	}

	.nav-icon{
		margin-left:20px; 
	}

	.nav-links a:hover{
		color:lightgrey;
	}

	.desktop-nav-holder{
		height: 60px;
		display: flex;
		flex-direction: row;
		background-color: #413D3D;
		justify-content:space-between; 
	}


	.nav-icon{
		align-self:flex-start;
	}


}



</style>


<nav id="nav-menu" class="mobile-nav-holder">
	<span class="menu-icon glyphicon glyphicon-menu-hamburger"
				onclick="openNav()">
	</span>

	<div class="nav-links">
		<a href="/all">Shop</a>
		<a href="/contact">Contact</a>
		<a href="/about"> About </a>
		<a href="#"> Lookbook </a>
	</div>

	<a href="/all" class="logo"> </a>
	<div class="icon-container"> 
		<a class="nav-icon" href="/login"> 
			<img  src="<%=asset_path 'profile_transparent.png' %>" />
		</a>

		<img class="nav-icon" id="cartIcon" onclick="openCart()" src="<%=asset_path 'cart_transparent.png' %>" />


		<%
=begin%>
 <span id="cartIcon" class="shopping-cart glyphicon glyphicon-shopping-cart" onclick="openCart()">
			<span id="cart-length"></span>
		</span> 
<%
=end%>
	</div>

</nav>

<nav id="nav-menu" class="desktop-nav-holder">
	<a href="/all" class="logo"> </a>

	<div class="nav-links">
		<a href="/all">Shop</a>
		<a href="/contact">Contact</a>
		<a href="/about"> About </a>
		<a href="/login"> <img class="nav-icon" src="<%=asset_path 'profile_transparent.png' %>" /> </a>
		<img class="nav-icon" id="cartIcon" onclick="openCart()" src="<%=asset_path 'cart_transparent.png' %>" />
	</div>

		

</nav>
