<style> 
html, body {
  height: 100%;
  margin: 0;
}
.content {
  min-height: 100%;
}

footer{
	display:flex;
	flex-direction: row; 
   	background-color: black;
	padding-bottom: 10px; 
	padding-top:10px;
	justify-content:space-between; 
}

.footer-logo-holder{
	color:white;
	font-size:15px;
	flex-grow: 1;
}

.footer-logo{
	font-family: 'Permanent Marker', cursive;

}

.info-links{
	padding-left:10%; 
}

.info-links a {
	color:white; 
	margin-right:5px; 
}

.icon-holder{
	display: flex;
    flex-direction: row;
	align-items: flex-end;
	padding-right:10px; 
}

.footer-link{
	text-decoration: none; 
	color:white;
}

.footer-text{
	color:white;
	display:flex;
	flex-direction:column; 
	padding-left:20px; 
}

.footer-text a{
	text-decoration:none;
	color:white

}

.footer-icon{
	font-size:23px;
	margin-left: 7px; 

}

@media (min-width: 720px) {

	.footer-text{
		flex-direction: row;
		width: 300px;
		justify-content: space-between;
		font-size: 15px;
	}

	.info-links{
		min-width:300px; 
	}

	.icon-holder{
		padding-right:30px; 
		width: 100px;
    	justify-content: space-between;
	}
	.footer-logo-holder{
		flex-grow: 0;
		padding-right:50px; 
	}


}


</style>
<footer>

	<div class="footer-text">
		<span> © Ugli 2021 </span>
		<a href="/about"> About </a>
		<a href="/return"> Return Policy </a>
	</div>
	<div class="icon-holder"> 
		<a target="_blank" class= "footer-link" href="https://www.instagram.com/uglimyclothes/" >
			<i class="fab fa-instagram footer-icon" id="icon-insta"></i>
		</a>
		<a class= "footer-link" href="/contact" > 
			<i class="far fa-envelope footer-icon"></i> 
		</a>
	</div>

</footer>