<%=  render "nav" %>

<style> 
    .return-body{
        display: flex;
        flex-direction: column;
        border: 1px;
        padding-right: 25%;
        padding-bottom:100px; 
        padding-left: 25%;
        line-height: 40px;
        padding-top: 30px;
        font-size: 21px;
        min-height: 100vh;
    }

    .about-header{
        align-self:center; 
        font-weight:500; 
        font-size:40px; 
    }

</style> 

<div class="return-body">
<h1 class="about-header"> The Creation of Ugli </h1>
Ugli is a high-end clothing brand that strives to go against the traditional norms of fashion and ideas of beauty. We embrace the word ugly and made it our own. Throughout the history of fashion, the concept of beauty has been very cookie-cutter, but with Ugli our mission is to create a new standard. So, join us and be part of something that’s bigger than ourselves.
<br /> 
<br /> 

    
Established in 2019, Ugli was co-founded by Dogol Girmay and Tomi Okiji with the purpose of creating a brand that’s unique in every facet of that word. Ugli isn’t just a clothing brand it's a way of life. 
        <br /> 
<br /> 

When creating Ugli we wanted to ensure that our products are all high in quality and sourced locally so we made sure to work with artists and manufacturers in the DMV. We are involved in every step of the creative process with Ugli from creating the website to the final thumbs up on the design of our products. We are truly passionate about the products we create and want to ensure that our community feels the same way. 




</div>
	
<%=  render "footer" %>
