<style type="text/css">
	*{
				font-family: 'Permanent Marker', cursive;

	}

	.container{
		display:flex;
		flex-direction:column;
		align-items: center; 
		padding-left:8%;
		padding-right:5%;
		padding-top:30vh;
		height:100vh;

	}

	.ugli-button{
		width:200px;
		margin-top:30px;
	}

</style>
<%=  render "nav" %>

<body> 
<section class="thanks-container"> 
	<div class="container"> 
		<h1> Message Received ! </h1>
		<span> 
			I will get back to you very soon ! - Tomi  
		</span>
		<a href="/products" > 
			<button type="submit" class="btn btn-primary ugli-button">Keep Shopping	</div>

</section>
</body>

	<%=  render "footer" %>
