<link rel="stylesheet" href="https://unpkg.com/flickity@2.1.2/dist/flickity.min.css">
<%= stylesheet_link_tag "toast", media: "all" %>
<%= stylesheet_link_tag "all", media: "all" %>

<script type="text/javascript" src="https://unpkg.com/flickity@2.1.2/dist/flickity.pkgd.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Yantramanav" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

<%=  render "nav" %>

<section class=" content">
	<div class="products-container">
		<div class="products">
			<span class="shop-header"><%= @shop_title %> </span>
			<div class="line-break"> </div>
			<% if @products[0].hidden %>
				<h1> Coming Soon </h1>
				<div class="line-break"> </div>
			<% end %> 

			<% @products.each_with_index do |product,index| %>

				<% if product.stocks.count > 0 %>

					<%if index > 0  && @products[index - 1].hidden && ! product.hidden %> 
						<div class="coming-soon-line-break"> </div>
						<h1> The Ugliest </h1>
						<div class="line-break"> </div>
					<%end %>

					<div class="product-holder">
						<div class="carousel"   data-flickity='{  "pageDots": false, "wrapAround": true  }'>

							<% product.images.order(:order_num).each_with_index do |image| %>
								
								<%if !product.hidden %>
									<a href="/products/<%=product.id %>" >
										<%= image_tag image, class:"carousel-cell" %>
								<% else %>
									<a>
										<%= image_tag image, class:"carousel-cell coming-soon"  %>
								<% end %>
									</a>
							<% end %>
						</div>
						<% if product.is_members_only %>
							<span class="members-only-label"> 
								Member Exclusive 
							</span>
						<% end %>

						<span class="product-name"> <%= product.name %> </span>
						<span class="product-style"> <%= product.style %> </span>
						<% if product.is_linked %>
							<span class="product-price"> NFT</span>
						<% else %>
							<span class="product-price"> $<%= number_with_precision(product.price , :precision => 2)%> </span>
						<% end %>

						<% if product.sold_out %>
							<button type="button" class="sold-out-button btn btn-danger" disabled >Sold Out</button>
						<% end %> 
					</div>
				<% end %>
			<% end %>

			<div id="toast-text"></div>
		</div>
	</div>
</section>
	<%=  render "footer" %>

<script type="text/javascript">

	if (window.location.href.indexOf('reload')==-1) {
		window.location.replace(window.location.href+'?reload');
	}

	function quickCartSubmit(productId){

				var productSize = $("#product-size-"+productId).val();
				submitCartItem(productId,productSize);

	}

</script>
