<%= form_tag update_background_video_path, :class => "form",  multipart: true  do   %> 
		<%= file_field_tag "desktop_video", direct_upload: true %>
		<%= file_field_tag "mobile_video", direct_upload: true %>

 	   <%= submit_tag nil, class: "submit-button btn btn-primary" %>


<% end %> 

<h1> <%= @videos.count %> </h1>