<%= stylesheet_link_tag 'checkout', media: 'all', 'data-turbolinks-track': 'reload' %>

<%=  render "nav" %>
<body> 
	<div class="content"> 
		<%= form_tag "/confirm", :class => "product-options", :id => "payment-form" do   %>
			<section class="shipping-info-container">
				<div class="contact-container">
					<span class="error-message"> <%= session[:address_error] %></span>
					<span class="checkout-head"> Contact Information </span>
					<% if !cookies[:member_id] %>
						<input name="buyer_email" class=" field" type="text" placeholder="Email" value="<%=session[:email] ? session[:email] : '' %>">
					<% end %>

					<span class="new-section checkout-head"> Shipping Address </span>
					<input name="buyer_name" class=" field" type="text" placeholder="Full Name" value="<%=session[:name] ? session[:name] : '' %>">

					<input name="buyer_address" class="  field" type="text" placeholder="Address" value="<%=session[:address] ? session[:address] : '' %>">
					<input name="buyer_apt" class="field" type="text" placeholder="Apartment, suite, ect (optional)" value="<%=session[:apt] ? session[:apt] : '' %>">
					<input name="buyer_city" class=" field" type="text" placeholder="City" value="<%=session[:city] ? session[:city] : '' %>">

					<div class="small-form-container">
						<input name="buyer_state" class="field" type="text" placeholder="State" value="<%=session[:state] ? session[:state] : '' %>">
						<input name="buyer_zip" class="field zip" type="text" placeholder="Zip" value="<%=session[:zip] ? session[:zip] : '' %>">

					</div>
				</div>
				<div class="payment-container">
					<span class=" new-section checkout-head"> Payment Method </span>

					<span id="card-errors" class="error-message"></span>
					<div id="card_num"> </div>

					<div class="small-form-container">
						<div id="card_cvc" class="state-form"> </div>
						<div id="card_exp" class="state-form zip"> </div>
					</div>


					<div class="  total-container-start total-container">
						<span> Subtotal </span> 
						<span> $<%= number_with_precision(session[:total], :precision => 2) %> </span>
					</div>

					<div class="  total-container">
						<span> Shipping </span> 
						<span> $<%= number_with_precision(@shipping, :precision => 2) %> </span>
					</div>

					<div class="  total-container">
						<span> Tax </span> 
						<span> $<%= number_with_precision(@tax_cost, :precision => 2) %> </span>
					</div>

				
				<span class="line" ></span>

					<div class="total-container">
						<span> Total </span> 
						<span> USD <b> $<%= number_with_precision(@complete_total , :precision => 2) %> </b> </span>
					</div>

					<button type="submit" class="btn pay-button">Pay Now</button>
				</div>

			</section>

		<% end %> 

	</div>


</body>

	<%=  render "footer" %>


<script type="text/javascript">

	var form = document.getElementById('payment-form');
	// var stripe =  Stripe('pk_test_IyT0zqDXsKXtfgd6dkDgxgNp003AXGdoRc');
	var stripe =  Stripe('pk_live_T6blMvQ52LAeTtAYMwnNBK9m00pPZZG1oh');

  var elements = stripe.elements({
    fonts: [
      {
        cssSrc: 'https://fonts.googleapis.com/css?family=Permanent+Marker',
      },
    ]
  });

  var elementStyles = {
    base: {
  
      '::placeholder': {
		color: 'black',
		fontFamily: '"Lato",  sans-serif',
		 fontWeight: '700',
		fontSize: "18px"
      }
    }
  };

  var elementClasses = {
  		base: "field"
  };

  var cardNumber = elements.create('cardNumber', {
  	 placeholder: "Card #",
    style: elementStyles,
    classes: elementClasses,
  });

  
  var cardExpiry = elements.create('cardExpiry', {
    style: elementStyles,
    classes: elementClasses,
  });
  

  var cardCvc = elements.create('cardCvc', {
  	 placeholder: "Card CVC",
    style: elementStyles,
    classes: elementClasses,
  });

  cardCvc.mount('#card_cvc');
  cardNumber.mount('#card_num');
  cardExpiry.mount('#card_exp');



  form.addEventListener('submit', function(event) {
	  event.preventDefault();
	  stripe.createToken(cardNumber).then(function(result) {

	    if (result.error) {
	       var errorElement = document.getElementById('card-errors');
	       errorElement.textContent = result.error.message;


	    } else {
	      // Send the token to your server.
	     	var params = ["last4","stripeToken","brand"]; 
	     	var values = [result.token.card.last4,result.token.id,result.token.card.brand]; 

	     	for(var i = 0; i <3; i++){
	     		var hiddenInput = document.createElement('input');
  				hiddenInput.setAttribute('type', 'hidden');
  				hiddenInput.setAttribute('name', params[i]);
  				hiddenInput.setAttribute('value',values[i]);
  				form.appendChild(hiddenInput);
	     	}


  			form.submit(); 

	    }
 	 });


	}); 


</script>
