<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;800&display=swap" rel="stylesheet">

<style> 
	.contact-form-container{
		display: flex; 
		flex-direction: column;
		margin-top:10px; 
		padding-left:10px; 
		padding-right:10px; 
	}

	.contact-form, .contact-message{
		margin-top:20px;

	}

	.contact-message{
		height:300px !important;
	}

	.btn-send{
		margin-top: 30px;
		background-color: #252121;
		color: white;
		font-family: 'Lato', sans-serif;
		font-weight: 800;
		width: 181px;
		height: 42px;
		align-self: center;
	}

	.field{
		border: 0;
		outline: 0;
		background: transparent;
		border-bottom: 4px solid black;
		margin-top:26px; 
	}
	.message-field{
		background: transparent;
		border: 4px solid black;
		margin-top:16px; 
		border-radius:5px;
		height:300px; 
		margin-top:26px; 

	}

	::placeholder {
		color: black;
		font-size: 20px;
		font-weight: bold; 
	  }
	  
	.contact-header{
		font-family: 'Lato', sans-serif;
		font-weight: 800;
		font-size: 33px;
		align-self: center;
	}

	.contact-info-container{
		display:flex; 
		flex-direction:column; 
		margin-top: 45px;
		padding-bottom:30px;    
	}

	.contact-us{
				font-family: 'Lato', sans-serif;
		font-weight: 800;
		font-size: 33px;
		align-self: center;
	}

	.email-info{
		font-family: 'Lato', sans-serif;
		font-weight: 800;
		font-size: 25px;
		margin-left: 40px;
		margin-top: 17px;
	}


	@media (min-width: 720px) {

		.contact-container{
			display:flex; 
			flex-direction:row; 
			justify-content:space-around; 
			padding-left:5%; 
			padding-right:5%; 
		}

		.contact-form-container{
			width:65%; 
		}


		.contact-info-container{
			width:25%; 
		}

		.btn-send{
			align-self:flex-start; 
		}

	}

</style>
<%=  render "nav" %>
	
	<body>
		<div class="content">
			<div class="contact-container">
				<%= form_tag send_message_path, :class => "contact-form-container"  do   %> 
					<span class="contact-header"> Contact </span> 

					<input name="name" class="field" type="text" placeholder="Your name" >


					<input name="email" class="field" type="text" placeholder="E-mail" >


					<input name="subject" class="field" type="text" placeholder="Subject" >

					<textarea name="message" class="message-field" placeholder="Message"></textarea>

					<button type="submit" class="btn btn-large btn-send">Send Message</button>



				<% end %> 

				<div class="contact-info-container">
					<span class="contact-header"> Contact Us </span> 
					<span class="email-info"> Email: </span>
					<span class="email-info"> info@uglimyclothes.com </span> 

				</div>
			</div>
		</div>

	</body>


<%=  render "footer" %>
