<style> 

    .images-holder{
        display:flex; 
        flex-direction:row; 
    }


    .image-container{
        display:flex; 
        flex-direction:column; 
        margin-left:30px; 
        align-items:center; 
    }

    .image{
        height:200px; 
        width:300px; 
    }

    .success-text{
        color:lightgreen;
    }

    .error-text{
        color:tomato;
    }


</style> 

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<%= form_tag update_content_path, :class => "form",  multipart: true  do   %>
    <input name="landing_title" placeholder="Landing Title " value="<%= @content.landing_collection_title %>">
    <input name="shop_title" placeholder="Shop Title " value="<%= @content.shop_collection_title %>">

    <%= file_field_tag "images", multiple: true, direct_upload: true %>

    <%= submit_tag nil, class: "" %>
<% end %>



<span id="error-text" class="error-text" > </span>  
<span id="success-text" class="success-text" > </span>  

<div class="images-holder">
    <% @bg_images.each do |image| %>
        <div id="image-<%= image.id%>" class="image-container">

            <% if image.image.attached? %> 
                <%= image_tag image.image, class:"image" %>
            <% end %> 
            <span class="delete-button glyphicon glyphicon-remove" onclick="deleteImage(<%=image.id%>)"> </span>
        </div> 

    <% end %>
</div>




<script type="text/javascript">
function deleteImage(imageId){




    if (window.confirm("Are you sure wish to delete this image?")) {

	$.ajax('/delete_background_image', {
        method: 'POST',
        data:
        {
            image_id: imageId,
        }}).then(function finish(response) {

            if(response.deleted){
                $("#image-"+imageId).hide(); 
                $("#success-text").html("Image Was successfully Deleted"); 
                $("#error-text").html(""); 
            }
            else{
                $("#error-text").html(response.message); 
                $("#success-text").html(""); 
            }
            


         });
    }
}


</script>
