<style> 

	.form{
		display: flex; 
		flex-direction: column; 
		width:400px;
		margin-left:25%;
		margin-top: 5%; 
	}
	.images{
		display: flex; 
		flex-direction: row; 

	}

	.image{
		width:100px;
		height:100px;
	}

	.image-container{
		display: flex; 
		flex-direction: column; 
		width:200px;
		align-items: center;

	}

	.delete-button{
		margin-bottom:10px;
	}

	.order-form{
		width:30px;
		height: 20px; 
	}

	.size-container{
		display: flex; 
		flex-direction: row; 
		margin-top:30px;
	}

	.size-container input{
		width:100px;
		margin-right:30px;
		margin-bottom: 30px; 

	}

	.submit-button{
		margin-top:30px;
	}

	textarea{
		min-height:500px ; 
		min-width:500px; 
	}

</style>
<%= @product.name %>
<%= form_tag update_stock_path, :class => "form",  multipart: true  do   %>


		<div class="images">

			<% @product.images.order(:order_num).each do |image| %>
				<div class="image-container">
					<%= image_tag image, class:"image" %>
					<span class="delete-button glyphicon glyphicon-remove" onclick="deleteImage(<%=@product.id%> ,<%=image.id%> )"> </span>
					<input name="image-<%=image.id%>" type="text" class="order-form" value="<%= image.order_num %>">
				</div>
			<% end %>
		</div>
		<span> Current Stock :

			<% @product.stock_info().each do |size,amount| %>
				<%= size %> <%= amount %>
			<% end %>

		</span>
		
		<div class="size-container">
			<%= text_field_tag "size" ,@stock.size , placeholder: "size", :class=> "form-control"%>
			<%= text_field_tag "amount" ,@stock.amount , placeholder: "Amount", :class=> "form-control"%>
		</div>
		<input name="name" placeholder="Name" value="<%= @product.name %>">
		<input name="style" placeholder="Style" value="<%= @product.style %>">
		<input name="price" placeholder="Price" value="<%= @product.price %>">
		<input name="rank" placeholder="Rank Order" value="<%= @product.rank %>">
		<input name="link" placeholder="Link" value="<%= @product.link %>">

		<textarea name="description" placeholder="Description" ><%= @product.description %> </textarea>

		<div>
			<label for="is_members_only"> Members Only ?  </label>
			<input type="checkbox" id="is_members_only" name="is_members_only" <%=@product[:is_members_only] ? "checked" : '' %>>
		</div>

		<div>
			<label for="is_deleted"> Is Admin ?</label>
			<input type="checkbox" id="is_admin" name="is_admin" <%=@product[:is_admin] ? "checked" : '' %>>
		</div>

		<div>
			<label for="is_deleted"> Soft Delete ?</label>
			<input type="checkbox" id="is_deleted" name="is_deleted" <%=@product[:is_deleted] ? "checked" : '' %>>
		</div>

		<div>
			<label for="hidden"> Coming Soon  ?</label>
			<input type="checkbox" id="hidden" name="hidden" <%=@product[:hidden] ? "checked" : '' %>>
		</div>

		<div>
			<label for="is_front_page"> Front Page  ?</label>
			<input type="checkbox" id="is_front_page" name="is_front_page" <%=@product[:is_front_page] ? "checked" : '' %>>
		</div>

		<div>
			<label for="is_linked"> Is External Purchase ?</label>
			<input type="checkbox" id="is_linked" name="is_linked" <%=@product[:is_linked] ? "checked" : '' %>>
		</div>


		<%= hidden_field_tag "product_id" , @product.id%>

		<%= file_field_tag "images", multiple: true, direct_upload: true %>



 	   <%= submit_tag nil, class: "submit-button btn btn-primary" %>

	<% end %>

	<script type="text/javascript">

		function post(path, params, method) {
		    method = method || "post"; // Set method to post by default if not specified.

		    // The rest of this code assumes you are not using a library.
		    // It can be made less wordy if you use one.
		    var form = document.createElement("form");
		    form.setAttribute("method", method);
		    form.setAttribute("action", path);

		    for(var key in params) {
		        if(params.hasOwnProperty(key)) {
		            var hiddenField = document.createElement("input");
		            hiddenField.setAttribute("type", "hidden");
		            hiddenField.setAttribute("name", key);
		            hiddenField.setAttribute("value", params[key]);

		            form.appendChild(hiddenField);
		        }
		    }

		    document.body.appendChild(form);
		    form.submit();
		}

		function deleteImage(productId, imageId){
			post('/delete_image', {product_id: productId, image_id: imageId});
		}


	</script>


