<style>
	.product-image{
		width:300px;
		height:301px;
	}
</style>
<a href="/change_background_video" > Update Background video ? </a>
<br />
<% @products.each do |product| %>
	<a href="/stock/<%= product.id %>">
		<%if product.images.attached?  %>
			<%= image_tag product.images.first, class:"product-image "  %>
		<% end %>
	</a>

<% end %>
