<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Yantramanav" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1 , maximum-scale =1">
<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/flickity@2.1.2/dist/flickity.min.css">
<script type="text/javascript" src="https://unpkg.com/flickity@2.1.2/dist/flickity.pkgd.min.js"></script>
<%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>

<title>  High End Untraditional Clothing Styles and Colors | Ugli Done Beautifully </title>
<head>  <meta name="description" content="Shop Untraditional But Beautiful High End Hoodies, Shirts, Sweaters and More for Men, Women and, & Kids. Become a member for More Exclusive Clothing 
"></head>

	<body>

	
		<div class="content">
			<div id="top-content" class="carousel"   data-flickity='{  "autoPlay": true  , "pageDots": false, "wrapAround": true  }'>
				<% @bg_images.each do |image| %>
					<% if image.image.attached? %> 
						<%= image_tag  image.image, class:"background-image-cell carousel-cell" %>
					<% end %> 
				<% end %>

			</div>

			<div class="mobile-nav-container">
				<span id="index-menu-icon" class="menu-icon glyphicon glyphicon-menu-hamburger"
							onclick="openNav()">
				</span>
				<a class="brand-name marker" href="/all">Ugli</a>
				<div class="nav-icon-container">
					<a href="/login"> <img class="nav-icon" src="<%=asset_path 'profile_transparent.png' %>" /> </a> 
					<img class="nav-icon" id="cartIcon" onclick="openCart()" src="<%=asset_path 'cart_transparent.png' %>" />
				</div>
			</div>

			<a href="/all" class="release-text-container"> 	
				
				<div class="just-released"> Just Released <br> <%= @landing_title %> </div> 
				<div class="shop-more">Shop Now</div>
			</a>

				<nav>
					<a class="brand-name marker" href="all">Ugli</a>

					<div class="nav-links">
						<a href="/all">Shop</a>
						<a href="/contact">Contact</a>
						<a href="/about">About</a>
						<img class="nav-icon" src="<%=asset_path 'profile_transparent.png' %>" />
						<img class="nav-icon" id="cartIcon" onclick="openCart()" src="<%=asset_path 'cart_transparent.png' %>" />
					</div>
				</nav>

					</div> 



				
				<div class="product-carousel carousel"   data-flickity='{  "pageDots": false, "wrapAround": true  }'>

				<% @products.each_with_index do |product,index| %>



						<div class="product-container"> 

							<a href="/products/<%=product.id %>" >
								<%= image_tag  product.images.order(:order_num).first, class:"product-cell carousel-cell" %>
							</a>
							<span class="product-name"> <%= product.name %> </span>
							<span class="product-style"> <%= product.style %> </span>
	
						</div> 
						<% if product.sold_out %>
							<button type="button" class="sold-out-button btn btn-danger" disabled >Sold Out</button>
						<% end %> 
				<% end %>
				

		</div>


	</body>
	<%=  render "footer" %>


	<style> 
				.content{
					min-height:0px; 
				}

	</style> 

<script type="text/javascript">



if (window.location.href.indexOf('reload')==-1) {
     window.location.replace(window.location.href+'?reload');
}
function calcVH() {
    $('#container').innerHeight( $(this).innerHeight() );
}

//calcVH();
$(window).resize(function() {
     //calcVH();

    });
	var device = "desktop";
// device detection
if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
    device = "mobile";
}

// $.ajax('/get_background_video', {
//         method: 'GET',
//         data: { device: device }
//         })
//         .then(function success(response) {
//
//       		var $source = $("<source>", { "type": "video/mp4", "src": response.video});
//
//             $("video").append($source);
//
//       	});


	$(".background-image-cell ").click(function() {
		window.location.href = '/all'; 
	}).children().click(function(e) {
		return false;
	  });

</script>
