<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
<%= stylesheet_link_tag 'launch', media: 'all', 'data-turbolinks-track': 'reload' %>

<title>  High End Untraditional Clothing Styles and Colors | Ugli Done Beautifully </title>
<head>  <meta name="description" content="Shop Untraditional But Beautiful High End Hoodies, Shirts, Sweaters and More for Men, Women and, & Kids. Become a member for More Exclusive Clothing 
"></head>

<body>
    <section class="launch-section">
	    <a class="brand-name marker" href="#">Ugli</a>
        <span class="launch-header"> 
            Spring 
            Collection
            February 6th
        </span>

        <span class="thank-text">
            Thanks for the interest 
            on the new collection but 
            please comeback on the 6th 
            of February. 

            <br /> 
            <br />
            For now you can 
            <span class="important-text"> <br/> PRE-ORDER </span> the collection 
            <b> VIA</b> Ugli <b> DMs </b> 
        </span>

        <div class="landing-footer-icon-conainer-mobile">
                <img class="" src="<%=asset_path 'mail_transparent.png' %>" />
            <a target="_blank" class= "footer-link" href="https://www.instagram.com/uglimyclothes/" >
                <img class="" src="<%=asset_path 'ig_transparent.png' %>" />
            </a>
        </div>

    </section>

    <div class="landing-footer-desktop">
        <div class="landing-footer-text-container">
            <span>© Ugli 2020  </span>        
            <span> Terms of Serivce </span>  
            <span> Return Policy    </span>
        </div>
        
        <div class="landing-footer-icon-conainer">
                <img class="" src="<%=asset_path 'mail_transparent.png' %>" />
            <a target="_blank" class= "footer-link" href="https://www.instagram.com/uglimyclothes/" >
                <img class="" src="<%=asset_path 'ig_transparent.png' %>" />
            </a>

        </div>
    </div>

</body>