<style>

	.contact-container{

		display: flex;
		flex-direction: column;
		margin-top:10px;
		padding-right:10%;
		padding-left:10%;

	}


	.contact-form, .contact-message{
		margin-top:20px;

	}

	.contact-message{
		height:300px !important;
	}

	.btn-send{
		margin-top:30px;
	}
</style>
<%=  render "nav" %>

	<body>
		<div class="content">
			<%= form_tag auth_user_path, :class => "contact-container"  do   %>

				<input name="email" class="form-control contact-form" type="text" placeholder="E-mail" >
        <input name="password" class="form-control contact-form" type="password" placeholder="Password" >

				<button type="submit" class="btn btn-primary btn-large btn-send">Send Message</button>
			<% end %>
		</div>

	</body>


<%=  render "footer" %>
