<%= form_with(model: Product,local: true) do |form| %> 
	
	<%=form.label :name %> 
	<%= form.text_field :name%> 

	<%=form.label :price %> 
	<%= form.text_field :price%> 

	<%=form.label :description %> 
	<%= form.text_field :description%> 

	<%=form.label :images %> 

	<%= form.file_field :images, multiple: true, direct_upload: true %>


	<input type="submit" />
<% end %> 