<style> 
	.container{
		display: flex; 
		flex-direction: column; 
		align-items: center;
		margin-top:30px;
	}

	.updated{
		color:lightgreen;
	}

	.not-updated{
		color:tomato;
	}

</style>
<body> 
	<div class="container"> 


	<% @orders.each do |order| %> 

		<a class="<%=order.tracking_number ? 'updated' : 'not-updated' %>" href= '<%= "pending_orders/"+ order.id.to_s %> '> <span> <%=  order.name %> <%=  order.created_at.strftime("%m/%d/%Y %T") %></span> </a>

	<% end %> 
	</div>



</body>