<%=  render "nav" %>

<style> 
    .return-body{
        display:flex; 
        flex-direction:column; 
        border:1px; 
        padding-right:25%; 
        padding-left:25%; 
        padding-top:30px; 
        font-size:16px; 
        justify-content:center; 
    }

    h3{
        align-self:center; 
    }

</style> 

<div class="return-body">
    <h3> Return and Refund Policy </h3>
    <h4> Return Policy </h4>
    All sales are final.  We accept returns for refund or exchange, for items damaged in transit. Otherwise no refunds or exchanges are accepted
    <br /> 
    <br /> 
    <h4> Refunds (if applicable) </h4>

    
    Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund. If you are approved, then your replacement or refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of 7 days.
    <br /> 
        <br /> 

    <h4> Late or missing refunds (if applicable) </h4>
    If you haven’t received a refund yet, first check your bank account again.
    Then contact your credit card company, it may take some time before your refund is officially posted. Next contact your bank. There is often some processing time before a refund is posted.  If you’ve done all of this and you still have not received your refund yet, please contact us at customerservice@uglimyclothes.com.
    <br /> 
    <br /> 

    <h4> Lost or Stolen Packages </h4>
    Ugli is not responsible for lost or stolen packages confirmed to be delivered to the address entered for an order.  Upon inquiry, Ugli will confirm delivery to the address provided, date of delivery, tracking information and shipping carrier information for the customer to investigate.
    <br /> 
        <br /> 

</div>
	
<%=  render "footer" %>
