<style type="text/css">
	
	*{
font-family: Yantramanav, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;

	}
	
	.content{
		display: flex; 
		flex-direction: column;
	}

	
	.product-info-row{
		display:flex;
		flex-direction: row; 
		margin-top:10px;

	}

	.product-info{
		margin-top:10px;
		margin-left:15px;
		font-size:15px;
	}

	.product-image{
		height:85px;
		width:75px;
		margin-left: 25px; 
	}
	.info-container{
		display: flex; 
		flex-direction: row; 
		font-size:17px;
		margin-top: 20px; 

	}

	.info-label{
		width:80px;
		margin-left:40px;


	}
	.info,.info-col{
		margin-left:50px;
		width:150px;
	}


	
	.btn-confirm{
		width:300px;
		margin-top:30px;
		height:50px;
		margin-left:35px
	}

	@media (min-width: 720px)  {

		.space-between{
			width:70px;
		}

		
		.info-label{
			width:100px;
			margin-left:0px;
		}
		.info{
			width:200px;
		}

		.holder{
			display: flex;
			flex-direction: column; 
			align-items: center;
			
		}

		.info-row-holder{
			display: flex; 
			flex-direction: row-reverse;
		}

		.order-info-container{

		}
		.order-info-container  span{
			font-size:20px;
		}

		.btn-confirm{
			width:800px ;
			margin-top:70px;

		}

		.product-image{
			height: 150px; 
			width:130px;
			margin-left: 25px; 
		}

		.line-break{
			width: 100%; 
			height:0px;
		}

	}

</style>

<%=  render "nav" %>
<h2 style="margin-left:40px"> Review </h2>

<section class="content">
	<section class="holder">
		<section class="info-row-holder">
			<div class="product-holder">
				<% @products.each do |product_dic| %>
					<div class="product-info-row">
						<%= image_tag product_dic[:product].images.order(:order_num).first, class:"product-image" %>

						<div class="product-info">
							<span class="product-name"><%= product_dic[:product].name %> </span>
							<br />
							<span class="product-size">(<%= product_dic[:size] %>)</span>
							<br />
							<span class="product-price">$<%= product_dic[:product].price %> </span>
						</div>
					</div>
			<% end %>

			</div>

			<div class="space-between"> </div>

			<div class="order-info-container">

				<div class="info-container">
					<span class="info-label">E-mail:</span>
					<span class="info"> <%= session[:email] %> </span>
				</div>

				<div class="info-container">
					<span class="info-label">Address: </span>
						<span class="info">
							<% if cookies[:member_id] %>
								<%= @member.address %>
								<br />
								<%=  @member.city %> , <%=  @member.state %>
								<br />
								<%=  @member.zip %>
							<% else %>

								<%= session[:address] %>
								<br />
								<%= session[:city] %> , <%= session[:state] %>
								<br />
								<%= session[:zip] %>

							<% end %>
						</span>
				</div>

				<div class="info-container">
					<span class="info-label">Payment: </span>
					<span class="info"> <%= session[:brand] %> <%= session[:last4] %>
					</span>
				</div>

				<div class="info-container">
					<span class="info-label">Shipping: </span>
					<span class="info">$<%= number_with_precision(session[:shipping] , :precision => 2) %>
					</span>
				</div>

				<div class="info-container">
					<span class="info-label">Subtotal: </span>
					<span class="info">$<%= number_with_precision(session[:total] , :precision => 2) %>
					</span>
				</div>

				<div class="info-container">
					<span class="info-label">Total: </span>
					<span class="info">$<%= number_with_precision(session[:total].to_f + session[:shipping] , :precision => 2) %>
					</span>
				</div>
			</div>
		</section>
		<%= form_tag "/confirm" do   %>
			<button type="submit" class="btn btn-primary btn-confirm">Confirm</button>
		<% end %>

		</section>


	</section>


	<%=  render "footer" %>
