<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://unpkg.com/flickity@2.1.2/dist/flickity.min.css">
<%= stylesheet_link_tag "toast", media: "all" %>


<meta name="viewport" content="width=device-width, initial-scale=1 , maximum-scale =1">
<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/flickity@2.1.2/dist/flickity.pkgd.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<%= javascript_include_tag 'show_product', 'data-turbolinks-track': 'reload' %>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;800&display=swap" rel="stylesheet">
<%= stylesheet_link_tag 'show', media: 'all', 'data-turbolinks-track': 'reload' %>

<%=  render "nav" %>

<body>

	<div class="content">

	<div class="product-info">
	
			<div class="carousel"  data-flickity='{ "prevNextButtons": false, "wrapAround": true }'>
				<% @product.images.order(:order_num).each do |image| %>
					<div class="carousel-cell">
						<%= image_tag image, class:"product-image" %>
					</div>
				<% end %>
			</div>


			<div class="product-info-container">
				<% if @product.is_members_only %>
					<span class="member-only-header"> Ugli Member Exclusive </span>
				<% end %>


				<span class="product-name"> <%= @product.name %> </span>
				<span class="product-type"><%= @product.style %> </span>

				<% if !@product.is_linked %>
					<div  class ="product-options"  >
						<input type="hidden" name="product_id" id="product_id" value="<%= @product.id %>">

						<select data-uid="<%= @product.id %>" name="size" class="size-button form-control" id="product_size">

							<% @sizes.each do |size| %>
								<option <%=size == "M" ? "selected" : '' %>> <%= size %> </option>
							<% end %>
						</select>
						
						<button  id="sold_out_button" type="button" class="btn btn-danger sold-out-button" disabled >Sold Out</button>

						<%if @product.is_members_only && !cookies[:member_id] %>
							<a id="add_to_cart_button" href="/members/new" class="btn btn-danger product-buy">
								$<%= number_with_precision(@product.price , :precision => 2) %> / Add to Cart
							</a>
						<% else %>
							<button id="add_to_cart_button" class="btn product-buy">
								$<%= number_with_precision(@product.price , :precision => 2) %> / Add to Cart
							</button>
						<% end %>
					</div>
				<% else %>
				
					<a class="btn btn-link" href="<%= @product.link %>">Buy on Open Sea </a>
				<% end %>



				<div class="details-container">
					<span class="product-detail-head"> Details</span>
					<p class="product-details"><%= @product.description.strip %></p>
				</div> 
				<div id="toast-text"></div>
			</div>

		</div>
	
	</div>


</body>

<script>

	if (window.location.href.indexOf('reload')==-1) {
		window.location.replace(window.location.href+'?reload');
	}

	checkProductSoldOut(); 

	$( "#product_size" ).change(function() {
			
			checkProductSoldOut(); 
	});

	$("#add_to_cart_button").click(function(e){
		e.preventDefault();
		var productId = $("#product_id").val();
		var productSize = $("#product_size").val();
		submitCartItem(productId,productSize);
	});
</script>

	<%=  render "footer" %>



