<style> 
  .container{
    display: flex; 
    flex-direction: column; 
    padding-top:50px;
  }

</style>

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

  </head>
  <body>
    <%= form_tag update_tracking_number_path, :class => "container"  do   %> 

      <span> Buyer Info</span>
      <span class="divider"></span>

      <span> <%= @name %> </span>
      <span> <%= @full_address %> </span>

      <span> Order number: <%= @order.order_num %> </span>
      <span> Tracking Number: <%=@order.tracking_number ? @order.tracking_number : 'Not Set' %> </span>
      <span> Shpping Method: <%=@order.shipping_method ? @order.shipping_method : 'Not Set' %> </span>

       <span>Items description <span>

       
       <br>


      <% @products.each do |product_dic| %>

					<%= image_tag product_dic[:product].images.order(:order_num).first, class:"carousel-cell", height: "200px" %>
           <span>
              <%= product_dic[:product].name %> (<%= product_dic[:size] %>)
            </span>
            <span class="item-price">
              $<%= product_dic[:product].price %>
            </span>
            <br> 

      <% end %>



      <input name="tracking_number" class="form-control" type="text" placeholder="Tracking Number" value="<%=@order.tracking_number ? @order.tracking_number : '' %>"<>
      <select name="shipping_method" class="form-control" type="text" placeholder="" value="<%=@order.shipping_method ? @order.shipping_method : '' %>">
          <option> USPS</option>
          <option value="FEDEX"> FEDEX </option>
          <option> UPS</option>
      </select>

      <input name="order_id" type="hidden" value="<%= @order.id %> " >
        <button type="submit" class="btn btn-primary btn-large">Update Tracking Info </button>

    <% end %>
  </body>
</html>
