<style type="text/css">
	*{
    font-family: 'Lato', sans-serif;

	}

	.container{
		display:flex;
		flex-direction:column;
		align-items: center; 
		padding-top:30vh;
		height:100vh;

	}

	.ugli-button{
		width:200px;
		margin-top:30px;
		background-color:black; 
	}

	.tracking-text{
		align-self:center; 
		text-align:center;
		font-size:20px; 
	}

</style>
<%=  render "nav" %>

<body>
<section class="thanks-container">
	<div class="container">
		<h1> Thanks Ugli </h1>
		<span class="tracking-text"> 
			The tracking number will be sent to the email you provided when your product ships
		</span>
		<a href="/products" >
			<button type="submit" class="btn btn-primary ugli-button">Get Uglier</button>
		</a>
	</div>

</section>
</body>

	<%=  render "footer" %>
