<!DOCTYPE html>
  <head>
    <script src="https://js.stripe.com/v3/"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1 , maximum-scale =1">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "side_menu", media: "all" %>
    <%= stylesheet_link_tag "cart_menu", media: "all" %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

		<div id="mySidenav" class="sidenav">
      <div class="top-container">
      	<span class="closebtn" onclick="closeNav()">&times;</span>
      	<span class="brand-name marker" href="#">Ugli</span>
      </div>
        <div class="menu-nav-container"> 
          <a href="/all">Shop</a>
          <a href="/contact">Contact</a>
          <a href="/about"> About </a>
          <a href="#"> Lookbook </a>
          <% if cookies[:member_id] || cookies[:is_admin] %>
          <a href="/logout">Logout</a>
          <% else %>
            <a href="/login">Sign Up / Login</a>
          <% end %>
      </div>

		</div>

    <div id="cartNav" class="cart-sidenav animate-right-hide" style="">
       <span class="shopping-cart-title"> Shopping Cart </span>
       
       <a href="javascript:void(0)" class="close-cart-btn" id="closeCartButton"onclick="closeCart()">
        &times;
       </a>

       <span id="cart-empty-text"> There are no items in your cart </span>

       <div  class="total-holder">
        <span id="total-label">Subtotal</span>
        <span id="total-value"> </span>
       </div>
       <div class="cart-info-text"> Shipping and taxes calculated at checkout </div>
       <a id="checkout-button"  class="btn btn-primary cart-checkout-button" href="/checkout" role="button">Checkout</a>


    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  	<script type="text/javascript">

      window.onpopstate = function(event) {
        window.location.reload();
      };

      var navOpen = false;

      if( ! $(".cart-item-holder").length > 0 ) {
        updateCartInfo();
      }

      $(document).click(function(e) {

        if (e.target.id != "cartIcon" && e.target.id != "cart-length" && cartOpen && e.target.id != "cartNav" &&
          $(e.target).parents("#cartNav").length  < 1) {
          closeCart();
        }

        if (e.target.id != "mySidenav" && e.target.id != "index-menu-icon" && e.target.id != "nav-menu" && navOpen && (e.target.id == "cartIcon" || $(e.target).parents("#nav-menu").length  < 1)) {
          closeNav();
        }
      });


  		function openNav() {
       navOpen = true;
	     document.getElementById("mySidenav").style.width = "250px";
	}

	function closeNav() {
      navOpen = false;
	    document.getElementById("mySidenav").style.width = "0";
	}


  	</script>
    <%= yield %>
