<%=  render "nav" %>
<%= stylesheet_link_tag "login", media: "all" %>

<section class="page-container">

  <%= form_tag login_path, :class => "member-login-container"  do   %>
    <% if @error %>
      <span class="error-text"> membername or Password provided Incorrect </span>
    <% end %>

    <div class="login-container" >
      <span class="form-header"> Login </span>
      <%= text_field_tag "email" ,@member.email,class: "field ",placeholder: 'Email'%>
      <%= password_field_tag "password" ,nil,class: " field ",placeholder: 'Password'%>

      <%= submit_tag "Sign In", class: "btn btn-primary login-button" %>
      <a href="#" class="forgot-link"> Forgot Your password ? </a>

    </div>
  <% end %>

    <%= form_for @member, html: {  class: ""} do |f|  %>

      <% if @member.errors.count > 0 %>
            <% @member.errors.each do |type,message|  %>
              <div class="error"> <%= type.capitalize %> <%= message %> 	</div>
            <% end%>
      <% end %>

      <div class="create-container">
      <span class="form-header" > Create Account </span>

        <%= f.text_field :email ,   :placeholder =>' First Name',class: "field " %>
        <%= f.text_field :email ,   :placeholder =>' Last Name',class: "field " %>
        <%= f.text_field :email ,   :placeholder =>' Email',class: "field " %>
        <%= f.password_field :password ,   :placeholder =>'Password',class: "field" %>

        <%= f.submit "Sign Up ",class: "btn btn-primary login-button" %>

      </div>

    <% end %>

</section>
