<% @members.each do |member| %>
    <div>
       <span> Email: </span>  <%= member.email %> <%= member.created_at.strftime("%m/%d/%Y %T") %>
        <br> 
        <% if member.instagram %>
           <b> instagram </b> <%= member.instagram %>
        <%end %>

     </div>
<% end %>