<%=  render "nav" %>
<%= stylesheet_link_tag "login", media: "all" %>



<%= form_for @member, html: {  class: "member-login-container"} do |f|  %>
	<img class="login-logo" src="<%=asset_path 'ugli_abridged.png' %>" />

	<% if @member.errors.count > 0 %>
				<% @member.errors.each do |type,message|  %>
					<div class="error"> <%= type.capitalize %> <%= message %> 	</div>
				<% end%>
	<% end %>

  <div class="fields" >

	  <%= f.text_field :email ,   :placeholder =>' Email',class: "form-control form-control-lg field " %>

		<%= f.password_field :password ,   :placeholder =>'Password',class: "form-control form-control-lg field" %>
 	   <%= f.submit "Register ",class: "btn btn-primary login-button" %>

 	</div>

	<%= link_to "Login", login_path %>



	<% end %>
