<style> 
    .raffle-body{
        display:flex; 
        flex-direction:column; 
        align-items:center; 
        margin-top:20vh; 
    }

    .step{
        font-size:21px; 
        text-align:center; 
        margin-top:10px; 
    }

    .entered-text{
        font-size:20px; 
        max-width:70vh; 
        text-align:center; 
    }

    input, select {
        margin-top:15px; 
    }

    .raffle-btn {
        width:200px; 
        margin-top:15px; 
    }

</style>

<%=  render "nav" %>
    <div class="content raffle-body">


        <%if cookies.has_key?(:member_id) && @member.instagram != nil %>
            <span class="entered-text"> 
                You have entered the raffle. <br /> If you are selected we <br> will message you on instagram !
            </span> 
        <% else %>
        <h3> Steps To Enter Raffle </h3>
                <%if !cookies.has_key?(:member_id) %>
                    <a href="/members/new" class="step"> <span class="step-num"> 1. </span> Become a Member. Click Here </a>
                <% end %>
                <div class="step"> <span class="step-num"> 2. </span> Follow Us On Instagram <a href="https://www.instagram.com/uglimyclothes/" > @uglimyclothes </a> </div>
                <div class="step"> <span class="step-num"> 3. </span> Fill Out Information Below </div>
                <%= form_tag "/enter_raffle", :class => "raffle-input-container" do   %>
                    <input class="form-control" name="instagram" type="text" placeholder="Instagram Handle">
                    <select name="size" class="form-control" placeholder="">
                            <option value="" disabled selected hidden>Size</option>
                            <option> S</option>
                            <option> M</option>
                            <option> L</option>

                    </select>
                
                    <button class="raffle-btn btn btn-primary " type="submit"> Enter Raffle </button>
                <% end %>
        <% end %>
             </div>
    

<%=  render "footer" %>
